name: Go
on:
  push:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'
  pull_request:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        go: [ '1.11', '1.12', '1.13' ]

    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@master
      - run: cd go && go test .
