name: Rust
on:
  push:
    paths:
      - 'rust/**'
      - '.github/workflows/rust.yml'
  pull_request:
    paths:
      - 'rust/**'
      - '.github/workflows/rust.yml'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        rust: [stable, nightly]

    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - uses: actions/checkout@master
    - run: cd rust && cargo test
